<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/loans"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Loan</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="saveLoan()"
        [disabled]="isLoading() || loanForm.invalid"
      >
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loanForm" (ngSubmit)="saveLoan()">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <!-- Borrower & Loan Status Card -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-icon
                  name="people-outline"
                  class="card-title-icon"
                ></ion-icon>
                Borrower & Loan Status
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <!-- Status -->
              <ion-select
                class="ion-margin-bottom"
                justify="space-between"
                label="Loan Status"
                placeholder="Select Status"
                fill="solid"
                formControlName="status"
                [errorText]="loanForm.controls['status'].invalid &&
              loanForm.controls['status'].touched ? 'Status is required.' : ''"
              >
                <ion-select-option value="Pending">Pending</ion-select-option>
                <ion-select-option value="Active">Active</ion-select-option>
                <ion-select-option value="Paid Off">Paid Off</ion-select-option>
                <ion-select-option value="Defaulted"
                  >Defaulted</ion-select-option
                >
                <ion-select-option value="Cancelled"
                  >Cancelled</ion-select-option
                >
              </ion-select>

              <!-- Borrower Selection -->
              <ion-select
                fill="solid"
                class="ion-margin-bottom"
                label="Borrower"
                formControlName="borrower_id"
                placeholder="Select Borrower"
                interface="modal"
                [errorText]="loanForm.controls['borrower_id'].invalid &&
              loanForm.controls['borrower_id'].touched ? 'Borrower is required.' : ''"
              >
                @for (borrower of borrowers(); track borrower.id) {
                <ion-select-option [value]="borrower.id"
                  >{{ borrower.name_of_borrower }} (ID: {{ borrower.id
                  }})</ion-select-option
                >
                } @if (borrowers().length === 0 && !isBorrowersLoading()) {
                <ion-select-option disabled
                  >No borrowers found</ion-select-option
                >
                }
              </ion-select>

              <!-- Disbursement Method -->
              <ion-select
                class="ion-margin-bottom"
                justify="space-between"
                label="Disbursement Method"
                placeholder="Select Disbursement Method"
                fill="solid"
                formControlName="disbursement_method"
                [errorText]="loanForm.controls['disbursement_method'].invalid &&
        loanForm.controls['disbursement_method'].touched ? 'Disbursement Method is required.' : ''"
              >
                <ion-select-option value="cash">Cash</ion-select-option>
                <ion-select-option value="bank">Bank</ion-select-option>
              </ion-select>

              <!-- Purpose -->
              <ion-textarea
                class="ion-margin-bottom"
                label="Purpose"
                labelPlacement="floating"
                fill="solid"
                placeholder="Enter Purpose"
                formControlName="purpose"
              ></ion-textarea>
            </ion-card-content>
          </ion-card>
          <!-- Loan Terms & Financial Info Card -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-icon
                  name="cash-outline"
                  class="card-title-icon"
                ></ion-icon>
                Loan Terms & Financial Info
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6">
                    <!-- Principal Amount -->
                    <ion-input
                      class="ion-margin-bottom"
                      fill="solid"
                      formControlName="principal"
                      type="number"
                      placeholder="Enter Principal Amount"
                      required
                      [errorText]="loanForm.controls['principal'].invalid &&
            loanForm.controls['principal'].touched ? 'Principal Amount is required.' : ''"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="6">
                    <!-- Loan Release Date -->
                    <ion-item class="ion-margin-bottom">
                      <ion-label slot="start">Loan Release Date</ion-label>
                      
                      <ion-datetime-button
                        slot="end"
                        datetime="datetime"
                      ></ion-datetime-button>

                      <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                          <ion-datetime
                            formControlName="loan_release_date"
                            id="datetime"
                            presentation="date"
                          ></ion-datetime>
                        </ng-template>
                      </ion-modal>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <!-- Loan Duration -->
                    <ion-input
                      class="ion-margin-bottom"
                      type="number"
                      fill="solid"
                      label="Loan Duration *"
                      labelPlacement="floating"
                      [errorText]="loanForm.controls['loan_duration'].invalid &&
           loanForm.controls['loan_duration'].touched ? 'Loan Duration is required.' : ''"
                      formControlName="loan_duration"
                      placeholder="Enter Loan Duration"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="6">
                    <!-- Loan Period -->
                    <ion-select
                      class="ion-margin-bottom"
                      justify="space-between"
                      label="Loan Period"
                      placeholder="Select Loan Period"
                      fill="solid"
                      formControlName="loan_period"
                      [errorText]="loanForm.controls['loan_period'].invalid &&
          loanForm.controls['loan_period'].touched ? 'Loan Period is required.' : ''"
                    >
                      <ion-select-option value="Daily">Daily</ion-select-option>
                      <ion-select-option value="Weekly"
                        >Weekly</ion-select-option
                      >
                      <ion-select-option value="Monthly"
                        >Monthly</ion-select-option
                      >
                      <ion-select-option value="Monthly"
                        >Bi-Monthly</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <!-- Interest Method -->
                    <ion-select
                      class="ion-margin-bottom"
                      justify="space-between"
                      label="Interest Method"
                      placeholder="Select Interest Method"
                      fill="solid"
                      formControlName="interest_method"
                      [errorText]="loanForm.controls['interest_method'].invalid &&
          loanForm.controls['interest_method'].touched ? 'Interest Method is required.' : ''"
                    >
                      <ion-select-option value="dimishing"
                        >Diminishing</ion-select-option
                      >
                      <ion-select-option value="straight"
                        >Straight</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                  <ion-col size="4">
                    <!-- Interest Rate -->
                    <ion-input
                      class="ion-margin-bottom"
                      type="number"
                      fill="solid"
                      label="Interest Rate *"
                      labelPlacement="floating"
                      [errorText]="loanForm.controls['interest_rate'].invalid &&
                  loanForm.controls['interest_rate'].touched ? 'Interest Rate is required.' : ''"
                      formControlName="interest_rate"
                      placeholder="Enter Interest Rate"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="4">
                    <!-- Tenure In Months -->
                    <ion-input
                      class="ion-margin-bottom"
                      type="number"
                      fill="solid"
                      label="Tenure In Months *"
                      labelPlacement="floating"
                      [errorText]="loanForm.controls['tenure_in_months'].invalid &&
                    loanForm.controls['tenure_in_months'].touched ? 'Tenure In Months is required.' : ''"
                      formControlName="tenure_in_months"
                      placeholder="Enter Tenure In Months"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
